# Leave VITE_CORE_API_BASE_URL unset to continue using local Project mocks.
VITE_CORE_API_BASE_URL=http://localhost:8080
# ProjectRouter currently accepts userID in create/list requests.
VITE_PROJECT_USER_ID=1
